
  .form_container {
    width: 500px;
    background: #ddd;
    position: absolute;
    top: 10;
    padding: 10px;
    right: 220px; 
 }
  .img_container {
    position: absolute;
    top: 10;
    left: 160px;
    bottom: 10;
  }
  .img_container img {
    width: 65%;
    opacity: 100%;
  }
   
  .poster_2 {
    background: 'sally22.png' no-repeat center center;
    background-size: cover;
    display: inline-block;
    flex: 1;
  }