.Class {
    display: flex;
    background-color: #e2e2e2;
    border-radius: 20px;
    border: solid rgb(0, 0, 0);
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 3vh;
    margin-top:3vh;

}
.foto{
    width: 15%;
    height: 15%;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    margin-top:3vh;
    border-radius: 50%;
}
.Titulo{
    text-align: left;
    color: black;
    border: solid black;
    border-radius: 10px;
    overflow-y: scroll;
    height: 55vh;

}
.Titulo h1{
    margin-top:1vh;
    margin-left: 1vh;
}

.Titulo p {
    color: rgb(0, 0, 0);
    font-size: 1.6vw;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    justify-content: flex-start;
}

.textform {
    width: 40%;
}

.box {
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(37, 34, 34);
    width: 210px;
}

.Inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fotoCuadro{
    width: 65%;
    height: 65%;
}
.fotoCuadro2{
    width: 90%;
    height: 65%;
}
.tituloh1 {
    color: black;
}
.Cuadradop{
    color: black;
    font-size: 1.6vw;
}
